@import 'tailwindcss';

/* Colors */
@theme {
	--color-*: initial;
	--color-white: hsl(0, 0%, 100%);
	--color-gray-100: hsl(0, 2%, 79%);
	--color-brand-400: hsl(25, 88%, 75%);
	--color-brand-500: hsl(25, 88%, 66%);
	--color-green-400: hsl(143, 19%, 49%);
	--color-green-500: hsl(143, 38%, 37%);
	--color-green-600: hsl(145, 29%, 19%);
	--color-brown-500: hsl(10, 5%, 25%);
	--color-brown-600: hsl(9, 7%, 21%);
	--color-brown-700: hsl(9, 8%, 16%);
	--color-brown-800: hsl(0, 6%, 15%);
	--color-brown-900: hsl(0, 6%, 13%);
	--color-orange-500: hsl(28, 43%, 28%);
	--color-red-500: hsl(359, 34%, 24%);
	--color-teal-500: hsl(186, 42%, 25%);
}
/* Typography */
@theme {
	--font-*: initial;
	--font-outfit: 'Outfit', sans-serif;
	--font-fira-sans: 'Fira Sans', sans-serif;

	--text-*: initial;

	--text-sm: 0.875rem;
	--text-sm--line-height: 1.6;

	--text-base: 1rem;
	--text-base--line-height: 1.6;

	--text-md: 1.25rem;
	--text-md--line-height: 1.6;

	--text-lg: 1.5rem;
	--text-lg--line-height: 1;

	--text-xl: 2rem;
	--text-xl--line-height: 1;

	--text-2xl: 3rem;
	--text-2xl--line-height: 1;

	--text-3xl: 5rem;
	--text-3xl--line-height: 1;

	--text-4xl: 7.5rem;
	--text-4xl--line-height: 1;
}
/* references color */
@theme {
	--color-contrast: var(--color-gray-100);
	--color-high-contrast: var(--color-white);
	--color-brand: var(--color-brand-500);
	--color-brand-light: var(--color-brand-400);

	--color-accent-light: var(--color-green-400);
	--color-accent-main: var(--color-green-500);
	--color-accent-dark: var(--color-green-600);

	--color-extra-light: var(--color-brown-500);
	--color-light: var(--color-brown-600);
	--color-main: var(--color-brown-700);
	--color-dark: var(--color-brown-800);
	--color-extra-dark: var(--color-brown-900);

	--color-toxic: var(--color-red-500);
	--color-spring: var(--color-teal-500);
	--color-fall: var(--color-orange-500);
}
/* references font size */
@theme {
	--text-heading-sm: var(--text-lg);
	--text-heading-sm--line-height: var(--text-lg--line-height);

	--text-heading-base: var(--text-xl);
	--text-heading-base--line-height: var(--text-xl--line-height);

	--text-heading-md: var(--text-2xl);
	--text-heading-md--line-height: var(--text-2xl--line-height);

	--text-heading-lg: var(--text-3xl);
	--text-heading-lg--line-height: var(--text-3xl--line-height);

	--text-heading-xl: var(--text-4xl);
	--text-heading-xl--line-height: var(--text-4xl--line-height);
}

@layer components {
	#skip-to-main {
		@apply bg-accent-main text-high-contrast rounded p-4;

		&:not(:focus) {
			clip: rect(0 0 0 0);
			clip-path: inset(50%);
			height: 1px;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}
	}
}

@layer utilities {
	.flow > * + * {
		margin-block-start: 1em;
	}

	.inline-wrapper {
		@apply mx-auto max-w-[1200px] px-4 py-12 sm:px-6 sm:py-20;
	}
}

@view-transition {
	navigation: auto;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
